* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sliderWidth: ;
    --sliderTime: ;
}

/* Headers */
#header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #111111;
}

#header .logo {
    margin-left: 25px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

#header .logo a {
    text-decoration-line: none;
    align-items: center;
    display: flex;
}

#header .logo img {
    display: inline-block;
    vertical-align: middle;
}

#header .logo h1 {
    color: #C28E0E;
    font-family: georgia, serif;
    font-size: 175%;
    margin: 0;
    display: inline-block;
}

/* Navigation Links */
.navLink ul {
    margin-right: 25px;
}

.navLink li {
    display: inline-block;
}

.navLink a{
    color:#C28E0E;
    text-decoration-line: none;
    margin: 10px;
    padding: 10px;
    background-clip: padding-box;
    border-style: solid;
    border-radius: 20px;
    border-color: #C28E0E;
    vertical-align: middle;
}

.navLink a:hover {
    color: black;
    background: #C28E0E;
}

/* Slideshow */
@keyframes slider {
    0% {transform: translateX()}
    100% {transform: translateX(var(--sliderWidth))}
}

#slideshow {
    background-color: #c28f0e;
    display: flex;
    overflow-x: hidden;
}

#slideshow .slideImg {
    display: flex;
}

#slideshow .slideImg img {
    height: 350px;
    width: auto;
    padding: 10px 5px;
    animation: slider var(--sliderTime) linear infinite;
}

#slideshow #leftGradient {
    height: 350px;
    width: 5%;
    position: absolute;
    background: linear-gradient(to left, transparent, #c28f0e);
    z-index: 1;
}

#slideshow #rightGradient {
    height: 350px;
    width: 5%;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, transparent, #c28f0e);
    z-index: 1;
}

/* Slogan */
#slogan {

}